%div.row-fluid
  %div.span2
    = render 'admin/shared/sidebar'
  %div.span10
    %h2 All Events
    %div.pull-right= button_to 'Create New Event', admin_events_action_path(:new), :class => "button btn"

    %table.table.table-striped.table-hover#article_table
      %thead
        %tr
          %th #
          %th Name
          %th Date
          %th Description
          %th City/Location
          %th Country
          %th Latitude
          %th Longitude
        %tbody
          - @events.each do |event|
            %tr
              %td= event.id
              %td= event.name
              %td= event.date
              %td= event.description
              %td= @event_city[event.id]
              %td= @event_country[event.id]
              %td= @event_latitude[event.id]
              %td= @event_longitude[event.id]
              %td
                = link_to 'Edit', admin_events_action_path(:edit, event.id), :id => "edit_event_#{event.id}", :class => "btn btn-mini"
                = link_to 'Delete', admin_events_action_path(:delete, event.id), :class => "btn btn-mini btn-danger"
