- @page_heading = 'Manage Freedom Tracker'
%h3 Welcome, #{@name}

-#= form_remote_tag :user => {:action => 'index'}

%div.pull-right= button_to 'Create New User', home_path, :class => "button btn"

%table.table.table-striped.table-hover#user_table
  %thead
    %tr
      %th #
      %th Name
      %th Email
      %th Admin Privileges
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td= user.admin_privileges
        %td
          = link_to 'Edit', edit_user_url(user.id), :id => "edit_user_#{user.id}", :class => "btn btn-mini"
          = link_to 'Delete', admin_page_path, :class => "btn btn-mini btn-danger"
