%div.row-fluid
  %h1 #{@user.name}
  %div.pull-right= button_to 'Delete User', admin_page_path, :class => "btn btn-danger"
  = form_tag update_user_url(@user.id), :method => :put do
    %table.table.table-striped#user_table
      %thead
        %tr
          %th Email
          %th Admin Privileges
          %th Actions
      %tbody
        %tr
          %td
            = text_field :user, 'email'
          %td
            = check_box_tag "user[admin]", true, @user.admin?
          %td
            = submit_tag 'Update', :class => "btn btn-mini"

    %br
    %br
    %h3 Contributed Sources
    %div.well
      %table.table.table-striped#source_table
        %thead
          %tr
            %th #
            %th Source Name
            %th URL
        %tbody
          %tr
            %td
            %td
            %td
