:javascript
  $(document).ready(function(){
    setInterval(function() {
      $.ajax({
        type: 'POST',
        url: "#{admin_sources_action_path(:progress)}",
        success: function(data){
          for(key in data) {
            document.getElementById('scrape'+ String(key)).style.width = data[key]['scrape'];
            document.getElementById('content'+ String(key)).style.width = data[key]['content'];
            document.getElementById('classify'+ String(key)).style.width = data[key]['classify'];
            document.getElementById('location'+ String(key)).style.width = data[key]['location'];
            if (data[key]['queued']) {
              document.getElementById('scrape_source_'+ String(key)).className = "btn btn-mini disabled";
            } else {
              document.getElementById('scrape_source_'+ String(key)).className = "btn btn-mini";
            }
          }
        },
        error: function(data){
          alert(data.responseText);
        }
      });
    }, 5000); //5 seconds
  });
  

%div.row-fluid
  %div.span2
    = render 'admin/shared/sidebar'
    
  %div.span10
    %h2 Scraping Controls
    %div.pull-right= button_to 'Scrape All', admin_sources_action_path(:super_scrape), :class => "btn btn-success"
    %table.table.table-striped.table-hover#source_table
      %thead
        %tr
          %th #
          %th Name
          %th Last Scraped
          %th Progress
          %th 
        %tbody
          - @sources.each do |source|
            %tr
              %td= source.id
              %td= link_to source.name, source.home_page
              %td= source.last_scraped
              %td
                .progress.progress-striped.active
                  .bar.bar{:style => "width: " + source.progress_scrape, :id => "scrape" + source.id.to_s}
                  .bar.bar-success{:style => "width: " + source.progress_content, :id => "content" + source.id.to_s}
                  .bar.bar-warning{:style => "width: " + source.progress_location, :id => "location" + source.id.to_s}
                  .bar.bar-danger{:style => "width: " + source.progress_classify, :id => "classify" + source.id.to_s}
              %td 
                - if !source.queued
                  = link_to 'scrape', admin_webscraper_action_path(:scrape, source.id), :id => "scrape_source_#{source.id}", :class => "btn btn-mini"
                - else
                  = link_to 'scrape', admin_webscraper_action_path(:scrape, source.id), :id => "scrape_source_#{source.id}", :class => "btn btn-mini disabled"
