%div.row-fluid
  %div.span2
    = render 'admin/shared/sidebar'
  %div.span10
    %h2 
      Feedback
      %div.pull-right= button_to 'Create New Feedback', admin_feedbacks_action_path(:new), :class => "button btn"
    %div.tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#tab1", "data-toggle" => "tab"} Active
        %li
          %a{:href => "#tab2", "data-toggle" => "tab"} Resolved
      %div.tab-content
        %div.tab-pane.active#tab1
          %table.table.table-striped.table-hover#article_table
            %thead
              %tr
                %th #
                %th Title
                %th Author
                %th Rating
                %th Date Created
                %th Last Updated
                %th Resolved By?
                %th
            %tbody
              - @feedbacks_active.each do |feedback|
                %tr 
                  %td= feedback.id
                  %td= link_to feedback.title, admin_feedbacks_action_path(:view, feedback.id)
                  %td= feedback.user.name
                  %td= feedback.rating
                  %td= feedback.created_at.strftime('%D %I:%M%p')
                  %td= feedback.updated_at.strftime('%D %I:%M%p')
                  %td= feedback.last_updated_user
                  %td
                    %div.btn-group
                      = link_to 'Resolve', admin_feedbacks_action_path(:resolve, feedback.id), :class => "btn btn-mini btn-success"
                      = link_to 'Delete', admin_feedbacks_action_path(:delete, feedback.id), :class => "btn btn-mini btn-danger"
        %div.tab-pane#tab2
          %table.table.table-striped.table-hover#article_table
            %thead
              %tr
                %th #
                %th Title
                %th Author
                %th Rating
                %th Date Created
                %th Last Updated
                %th Resolved By?
              %tbody
                - @feedbacks_resolved.each do |feedback|
                  %tr 
                    %td= feedback.id
                    %td= link_to feedback.title, admin_feedbacks_action_path(:view, feedback.id)
                    %td= feedback.user.name
                    %td= feedback.rating
                    %td= feedback.created_at.strftime('%D %I:%M%p')
                    %td= feedback.updated_at.strftime('%D %I:%M%p')
                    %td= feedback.last_updated_user
                    %td
                      = link_to 'Delete', admin_feedbacks_action_path(:delete, feedback.id), :class => "btn btn-mini btn-danger"


