%div.row-fluid
  %div.span2
    = render 'admin/shared/sidebar'
    
  %div.span10
    %h2 Classifier Controls
    -# %div "Global dictionary: #{@dictionary.inspect}"
    %div "Total articles: #{@total}"
    %div "Accuracies: #{@accuracy.inspect}"
    %div "Labels: #{@labels}"
    %div "Documents: #{@documents}"
    %div "Test Labels: #{@test_labels}"
    %div "Test Documents: #{@test_documents}"
    %div "#{@first_training_vector}"
    %div "#{@first_test_vector}"
    %div "#{@doc_count}"
    
    -#%div "#{@kernel_errors_training}"
    -#%div "#{@kernel_errors_testing}"
    -#%div "#{@kernel_predictions_training}"
    -#%div "#{@kernel_predictions_testing}"
