<<<<<<< HEAD
:javascript
  $(document).ready(function(){
    $(document).on("click", ".open-Article", function () {
      var article_ID = $(this).data('articleID');
      alert (article_ID);
      $('#Article_modal4').modal('show');
      
     });
  });

%body
  = render 'overview'
  %div.row-fluid
    %div.span12.pagination-centered
      %h1 Event Map
      = gmaps4rails(@json)
  %div.row-fuid
    %h2 Articles
    %div.well
      %table.table.table-striped.table-hover#article_table
        %thead
          %tr
            %th #
            %th Title
            %th Date
            %th Source
            %th Certainty
            %th Actions
        %tbody
          - @articles.each do |article|
            %tr
              %td= article.id
              %td= article.title
              %td= article.date
              %td
              %td
              %td
                %a.btn{"data-toggle" => "modal", :href => "#Article", :role => "button", "data-articleID" => article.id.to_s, "class" => "open-Article btn btn-primary"} View Article
=======
%div.row-fluid
  %div.span12.pagination-centered
    %h1 Event Map
    = gmaps4rails(@json)
    
%h1.pagination-centered Articles
%hr      
%div#grid
  - @articles.each do |article|
    .gridItem#card
      %legend #{article.title}
      %p Date: #{article.date}
      %p Source: #{article.source}
      %a.btn{"data-toggle" => "modal", :href => "#Article", :role => "button"} View Article
    
>>>>>>> bb4f16105eebf80524eab7a380752551bcae9d5f

              #Article.modal.hide.fade.in{"data-articleID" => article.id.to_s, "aria-hidden" => "true", "aria-labelledby" => article.title, :role => "dialog", :tabindex => "-1", :id => 'modal'+ article.id.to_s}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
                  %h3#myModalLabel #{article.title}
                .modal-body
                  = highlight_whole_word(article.text, article.hateArray, :highlighter => '<strong class="highlight">\1</strong>')
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
