%div.row-fluid
  %div.span3
    %div.span
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:method => :put, :class => "form-vertical"}) do |f|
        .form-inputs  
          %h2 Sign in
          %hr
          = f.input :email, :required => false, :autofocus => true, :input_html => { :class => "span" }
          = f.input :password, :required => false, :input_html => { :class => "span" }    
          %div  
            = f.button :submit, "Sign in"
            = render "devise/shared/links"  
