%div.row-fluid
  %div.span2
    = render 'admin/shared/sidebar'
    
  %div.span5.offset2
    %h2.pagination-centered Source Properties
    %div#card
      = simple_form_for(@source, :url => admin_sources_action_path(:update, @source.id), :html => { :method => :put, :class => 'form-horizontal', :validate => true}) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name, :required => true, :input_html => { :class => "span" }
          = f.input :home_page, :as => :url, :placeholder => "ex: http://www.google.com", :required => true, :input_html => { :class => "span" }
          = f.input :url, :required => true, :placeholder => "ex: http://www.google.com", :input_html => { :class => "span" }
          = f.input :quality_rating, :as => :select, :collection => 1..10, :hint => "1 is bad, 10 is good", :input_html => { :class => "span" }
          %div.btn-group.pull-right
            = f.button :submit, "Update Source", :class => "btn-success"
            = link_to 'Cancel', admin_sources_path, :class => "btn btn-danger"
