%div.row-fluid
  %div.span2
    = render 'admin/shared/sidebar'
    
  %div.span5.offset2
    %h2.pagination-centered Create New Source
    %div#card
      = simple_form_for(:source, :as => :source_name, :url => admin_sources_action_path(:new), :html => { :method => :put, :class => 'form-horizontal', :validate => true} ) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name, required: true, input_html: { class: "span" }
          = f.input :home_page, :as => :url, :placeholder => "ex: http://www.google.com", required: true, input_html: { class: "span" }
          = f.input :url, :placeholder => "ex: http://www.google.com", required: true, input_html: {class: "span"}
          = f.input :quality_rating, :as => :select, :collection => 1..10, :hint => "1 is bad, 10 is good", required: false, input_html: {class: "span" }
          
          %div.btn-group.pull-right
            = f.button :submit, "Create", :class => "btn btn-success"
            = link_to 'Cancel', admin_sources_path, :class => "btn btn-danger"
