%html
  %head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#Background
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
      = yield
